*{
    margin: 10px;
    padding: 20px;
    text-align: left;
}

.movie-details {
    border: solid #96929253;
    padding: 10px;
    margin: 10px;
    text-align: left;
  }
  
.movie-details {
    text-align: left;
  }

.movie-details span {
  display: block;
  margin-top: 5px;
}
